**Encoding:** is the concept to convert our categorical data(columns) into numerical columns.


1.   Label Encoding
2.   Ordinal Encoding
3.   One hot Encoding

In [ ]:
import pandas as pd

In [ ]:
dummy ={
    'Color':['Red','Green','Blue','Black','Red','Green'],
    'Size':['Small','Large','Medium','Medium','Large','Small'],
    'Marital_Status':['Married','Unmarried','Married','Relationship','Unmarried','Relationship'],
    'Gender':['Male','Female','Male','Male','Female','Female']
}
df = pd.DataFrame(dummy)
df

   Color    Size Marital_Status  Gender
0    Red   Small        Married    Male
1  Green   Large      Unmarried  Female
2   Blue  Medium        Married    Male
3  Black  Medium   Relationship    Male
4    Red   Large      Unmarried  Female
5  Green   Small   Relationship  Female

# **Label Encoding**

**It uses alphabetical order to encode the data**

In [ ]:
df['Color']

0      Red
1    Green
2     Blue
3    Black
4      Red
5    Green
Name: Color, dtype: object

![image.png]()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
df['Color'] = le.fit_transform(df['Color']) # This fxn will convert our categorical column to numerical

In [ ]:
df['Color']

0    3
1    2
2    1
3    0
4    3
5    2
Name: Color, dtype: int64

In [ ]:
df

   Color    Size Marital_Status  Gender
0      3   Small        Married    Male
1      2   Large      Unmarried  Female
2      1  Medium        Married    Male
3      0  Medium   Relationship    Male
4      3   Large      Unmarried  Female
5      2   Small   Relationship  Female

# **Ordinal Encoding**

In [ ]:
df['Size']

0     Small
1     Large
2    Medium
3    Medium
4     Large
5     Small
Name: Size, dtype: object

# **Ordinal Encoding**

When we want to decide the order of encoding for our categorical data.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
oe = OrdinalEncoder(categories=[['Small','Medium','Large']])
df['Size'] = oe.fit_transform(df[['Size']])

In [ ]:
df["Size"].astype(int)

0    0
1    2
2    1
3    1
4    2
5    0
Name: Size, dtype: int64

# **OneHot Encoding**

In [ ]:
df['Marital_Status']

0         Married
1       Unmarried
2         Married
3    Relationship
4       Unmarried
5    Relationship
Name: Marital_Status, dtype: object

In [ ]:
df = pd.get_dummies(df,columns=['Marital_Status'])

In [ ]:
df

,Color,Size,Gender,Marital_Status_Married,Marital_Status_Relationship,Marital_Status_Unmarried
0,3,0.0,Male,True,False,False
1,2,2.0,Female,False,False,True
2,1,1.0,Male,True,False,False
3,0,1.0,Male,False,True,False
4,3,2.0,Female,False,False,True
5,2,0.0,Female,False,True,False

In [ ]:
df['Gender'] # Can you apply encoding on this column?

0      Male
1    Female
2      Male
3      Male
4    Female
5    Female
Name: Gender, dtype: object

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Male', 'Female']])
df['Gender'] = oe.fit_transform(df[['Gender']])
df['Gender']

0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
5    1.0
Name: Gender, dtype: float64