In [ ]:
#What is python?
HLL interpreted programming language

#What is Program?
set of instructions-- written in certain programming language--- which further computer can execute
performs a certain task



HLL Interpreted:---High level is not directly processed by machines.
#Translator:-------------------
Interpreter and Compiler

In [ ]:
#compiler: translates the entire program into machine code in one go
#fast bcz entire code is pre- compiled
#detects errors while compiling

#It compiles the entire code it generates an intermediate executable file ehich is platform
#independent and then executes the code.
C++ and Java

In [ ]:
#interpreter:
#it translates the code in line by line manner
#speed it pretty low-- since each line is executed one by one
#error in line
python and js

In [ ]:
print("hello world!")

hello world!

In [ ]:
a = 10
print(a)

10

In [ ]:
print("Kishore")
print(a)
I = 0
print(I)

Kishore
10
0

In [ ]:
#this is used to make comments in python which are iggnored by python interpreter

In [ ]:
print("Hello world")

Hello world

In [ ]:
print('hello world')

hello world

In [ ]:
print('Kishor's class')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-17-7acbd402aa20>, line 1)

In [ ]:
#comments in python (multiple line)
"""Kishore is our trainer for

python Basics

from today"""

# Diff bw '' and ""
print("Kishor's class")

Kishor's class

In [ ]:
print(''' hello "I am Here".''')

 hello "I am Here".

In [ ]:
#case sensetiveness

a = 10
a = 1
A = 10
print(a)
print(A)

1
10

In [ ]:
#variable are to store the items
x = 10
#here value 10 is assigned to variable named as x
y = 20
#here value 20 is assigned to variable named as y

In [ ]:
#Rules naming the variable:

# 1. Must start with _ or letter
_a = 10 # Valid variable declaration
a = 10 #valid var declaration
# $a = 10

#2. It can't start with number
# 5a = 10 Invalid Variable declaration

#3. can't be a reserved keyword.
#eg: class = 10 and = 20

#Case sensetive
'''a = 10
a = 1
A = 10
print(a)
print(A)'''

In [ ]:
'''x = 10
   y = 11
   z = 12'''
x,y,z= 10,11,12
print(x,y,z)

10 11 12

In [ ]:
x = "Kishore"
print(x)

Kishore

In [ ]:
x = 10.10
print(x)

10.1

In [ ]:
x = 10
print(type(x))
y = 10.1
print(type(y))
z = "Kishore"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Data types
#text:  str (string)
#Numeric: int, float, complex
#sequence: List tuple
#sets and dictionaries.

In [ ]:
x = -1
print(type(x))
y = 1.1
print(type(y))
z = 5 +1j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#type conversion
a = str(x)
print(type(a))
print(a)

<class 'str'>
-1

In [ ]:
#variable type
int(varible name)
float()
str()

In [ ]:
#python strings:
name = "Kishore"
print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])

Kishore
K
i
s
h
o
r
e

In [ ]:
len(name)

7

In [ ]:
name[0] = 1

TypeError: 'str' object does not support item assignment

In [ ]:
#String slicing
a = "Hello_World!"
print(a[1:5])
print(a[0:4])
print(a[0:6])
print(a[:])
print(a[:5])
print(a[1:])
print(len(a))
print(a[11])
print(a[11:12])
print(a[-1])

ello
Hell
Hello_
Hello_World!
Hello
ello_World!
12
!
!
!

In [ ]:
#List Tuples sets and Dictionary
#Booleans
#True or False
#ANY CONDITION:
#(10<5) : False #expresion

In [ ]:
print(9>10)
print(9<10)

False
True

In [ ]:
#True - always
print(bool('Himanshi'))#true
print(bool(10))

#False - #always false
print(bool(""))
print(bool(0))
print(bool(False)) #Values
print(bool(None))

True
False
True
False
False
False

In [ ]:
#Python Operators:
x = 5
y = 10
print("Arithmetic operators")
#Arithmetic Operator:
# addition (+)
print(x+y)
# subtraction (-)
print(x-y)
# Multiplication (*)
print(x*y)
# Division (/)
print(10/3)
# Mod (%- Remainder):
print(10%3)
# Expo -(**)
print(3**15)
#Assignment Operator:
print('')
print("Assignment operator")
c = 10
print(c)
c+=10 #(c = c+10)
print(c)
c -=10 #(c = c-10)
#c = 70
print(c)
#Comparison Operator:
print("")
print("comparison operator")
print(x==y)
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x!=y)
#Logical Operator:
print("logical op")
a =10
print(a > 5 and a <100) # true
print(a > 11 and a <100) # False
print(a > 1 and a >100) #False
print(not(a<2 and a==4))
#or
print("OR")

print(a > 5 or a <100) # true
print(a > 11 or a <100) # true
print(a > 1 or a >100) #true
print(a<2 or a==4)#false


#Idendtity Operator:
#Membership Operator:

Arithmetic operators
15
-5
50
3.3333333333333335
1
14348907

Assignment operator
10
20
10

comparison operator
False
False
False
True
True
True
logical op
True
False
False
True
OR
True
True
True
False

In [ ]:
#Lists Tuples Set Dictionary

In [ ]:
l1 = ["Kishore","Anil","Tushar","Krishna","Arti","Priyanka","Jyoti"]
print(type(l1))

<class 'list'>

In [ ]:
#multiple items
#Built in
#indexed
#ordered changeable allow duplicates
#List is most flexible

In [ ]:
print(l1[6])
print(l1[4])

Jyoti
Arti

In [ ]:
print(l1)

['Kishore', 'Anil', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
a = 'kishore'
a[0] = 't'
#'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [ ]:
l1[0] = "Anusha"
print(l1)

['Anusha', 'Anil', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
#mutable --- changeable

In [ ]:
l1 = ["Kishore","Anil","Tushar","Krishna","Arti","Priyanka","Jyoti","Kishore"]
print(l1)

['Kishore', 'Anil', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore']

In [ ]:
print(len(l1))

8

In [ ]:
l2= [1,2,3,45,6,7]
print(l2)

[1, 2, 3, 45, 6, 7]

In [ ]:
x= list(y)
x = int(y)

In [ ]:
print(l1[2:5])
print(l1[:])
print(l1[4:])
print(l1[-4])

['Tushar', 'Krishna', 'Arti']
['Kishore', 'Anil', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore']
['Arti', 'Priyanka', 'Jyoti', 'Kishore']
Arti

In [ ]:
l3 =l1[2:5]
print(l3)

['Tushar', 'Krishna', 'Arti']

In [ ]:
#list methods -- performs specific task

#insert()
l1.insert(2,"Venky")
print(l1)

['Kishore', 'Anil', 'Venky', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore']

In [ ]:
l1.append("Joy")

In [ ]:
print(l1)

['Kishore', 'Anil', 'Venky', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore', 'Joy']

In [ ]:
l1[2]="Rahul"
print(l1)

['Kishore', 'Anil', 'Rahul', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore', 'Joy']

In [ ]:
l1.remove("Kishore")

In [ ]:
print(l1)

['Anil', 'Rahul', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Kishore', 'Joy']

In [ ]:
l1.pop(-2)

'Kishore'

In [ ]:
print(l1)

['Anil', 'Rahul', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti', 'Joy']

In [ ]:
l1.pop()
print(l1)

['Anil', 'Rahul', 'Venky', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
del l1[3]
print(l1)

['Anil', 'Rahul', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
del l1
print(l1)

NameError: name 'l1' is not defined

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
print(j)

NameError: name 'j' is not defined

In [ ]:
l1 = ['Anil', 'Rahul', 'Venky', 'Tushar', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
del l1[2:4]
print(l1)

['Anil', 'Rahul', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
l1.clear()
print(l1)

[]

In [ ]:
l1 = ['Anil', 'Rahul', 'Krishna', 'Arti', 'Priyanka', 'Jyoti']

In [ ]:
l1.sort()
print(l1)

['Anil', 'Arti', 'Jyoti', 'Krishna', 'Priyanka', 'Rahul']

In [ ]:
l1.sort(reverse=True)
print(l1)

['Rahul', 'Priyanka', 'Krishna', 'Jyoti', 'Arti', 'Anil']

In [ ]:
l1.sort(key = str.lower) #insensetive sort
#case sensetive priotizes the capital letters first

In [ ]:
l1 = ['anil','Rahul', 'Priyanka', 'Krishna', 'Jyoti', 'Arti', 'Anil']
l1.sort()
print(l1)

['Anil', 'Arti', 'Jyoti', 'Krishna', 'Priyanka', 'Rahul', 'anil']

In [ ]:
l1.sort(key = str.lower)
print(l1)

['Anil', 'anil', 'Arti', 'Jyoti', 'Krishna', 'Priyanka', 'Rahul']

In [ ]:
l1.sort(key = str.lower)

In [ ]:
a = "KISHORE"
print(a.lower())

kishore

In [ ]:
#Identity Operator:
#is and is not
#memory--- whether 2 variables refer to the same object in memory or not.
#compares the memory address


#Membership Operator:
#in and not in
#checks whether value exsists in the sequence or not.
#compares the content

x = [1,2,3,4]

print(2 in x)    #True
print(5 in x)    #False
print(5 not in x)#True
print(2 not in x)#False

True
False
True
False

In [ ]:
a = 42
print(id(a))

10752168

In [ ]:
a = "hello"
b = "hello"
print(a is b)
print(id(a))
print(id(b))
a = "kilo"
print(a is b)
print(id(a))
print(id(b))

True
138460246265776
138460246265776
False
138459342407728
138460246265776

In [ ]:
a = "Kishore"
b = "Kishore"
c = "Kishore"

print(id(a))
print(id(b))
print(id(c))

138459342439408
138459342439408
138459342439408

In [ ]:
a = ["Kishore","Tushar"]

b = ["Kishore","Aravindhan"]

c = ["Kishore","Tushar"]

print(id(a))
print(id(b))
print(id(c))

138459342537152
138459342548800
138459342540544

In [ ]:

a = ["ab", "bc"]
b = ["ab", "cd"]
print(id(a[0]))
print(id(b[0]))

138460670378864
138460670378864

In [ ]:
#Tuples:
t1 = ("skoda","Benz","Civic","BMW","Nexon","Porsche","Mahindra","Nano","Volkswagen","Volkswagen")
print(t1)
#ordered
#unchangeable
#allow duplicates
print(len(t1))

('skoda', 'Benz', 'Civic', 'BMW', 'Nexon', 'Porsche', 'Mahindra', 'Nano', 'Volkswagen', 'Volkswagen')
10

In [ ]:
t1[0] = "Santro"
t1[1] = "Dodge"

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t1[5])

Porsche
Porsche

In [ ]:
print(type(t1))

<class 'tuple'>

In [ ]:
a = ("Python","C","Java","JavaScript","R","HTML","Ruby","Php")
#a[0] = "Nodejs" is is possible but not directly


b = list(a)
print(type(b))

b[0] = "Nodejs"
b[1] = "DotNet"
b[2] = "React"

a = tuple(b)
print(a)
print(type(a))
print(type(b))

<class 'list'>
('Nodejs', 'DotNet', 'React', 'JavaScript', 'R', 'HTML', 'Ruby', 'Php')
<class 'tuple'>
<class 'list'>

In [ ]:
a = (10,11,12)
b = [10,11,12,13]
print(a)
a = tuple(b)
print(a)

(10, 11, 12)
(10, 11, 12, 13)

In [ ]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l1 = l1+l2
print(l1)

[1, 2, 3, 4, 5, 6]

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [ ]:
fname = "Kishore "
lname = "kumar"
full_name = fname + lname
print(full_name)

Kishore kumar

In [ ]:
#sets: unordered, unchangeable, unindexed
s1 = {1,2,3,4,50,6}
print(type(s1))
s2 = {7,85,90,10}
print(type(s2))

<class 'set'>
<class 'set'>

In [ ]:
print(s1)

{1, 2, 3, 4, 50, 6}

In [ ]:
s1 = {"Kishore","alpha","bravo","charlie","bravo","bravo",True,False,1,0}
print(s1)

{False, True, 'Kishore', 'charlie', 'alpha', 'bravo'}

In [ ]:
print(s1)

{'charlie', 'Kishore', 'alpha', 'bravo'}

In [ ]:
#unordered
#unindexed
#print(s1[0])
#no duplicates

TypeError: 'set' object is not subscriptable

In [ ]:
print(len(s1))

4

In [ ]:
c={True,1,5,1,5,'anil','Dora',False,1,0,-1,1,0,True}
print(c)

{False, True, 5, 'Dora', 'anil', -1}

In [ ]:
s1= {1,2,3,4,5,56,7}
print(s1)

{1, 2, 3, 4, 5, 7, 56}

In [ ]:
s1.add(67)

In [ ]:
print(s1)

{1, 2, 3, 4, 5, 67, 7, 56}

In [ ]:
s2 = {12,"hero"}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 67, 7, 'hero', 12, 56}

In [ ]:
s1.remove("hero")
print(s1)

{1, 2, 3, 4, 5, 67, 7, 12, 56}

In [ ]:
s1.remove("hero")

KeyError: 'hero'

In [ ]:
s1.pop()

1

In [ ]:
print(s1)

{2, 3, 4, 5, 67, 7, 12, 56}

In [ ]:
s1.clear()

In [ ]:
print(s1)

set()

In [ ]:
del s1

In [ ]:
print(s1)

NameError: name 's1' is not defined

In [ ]:
for x in s2:
  print(x)

hero
12

In [ ]:
#*unchageable: index
#modify: add remove

s1 = {1,2,3,4,56}
s1[0] = "kishore"

TypeError: 'set' object does not support item assignment

In [ ]:
#dictionaries:
#["key":"Value"]
# *
#changeable
#not allowing duplicates
d1 = {"Name": "Kishore", "age": 27, "Designation": "Data Scientist","Salary": "18 LPA","Name":"Tushar"}
print(d1)
print(type(d1))

{'Name': 'Tushar', 'age': 27, 'Designation': 'Data Scientist', 'Salary': '18 LPA'}
<class 'dict'>

In [ ]:
print(len(d1))

4

In [ ]:
print(d1["Name"])

Tushar

In [ ]:
print(d1.get("Name"))

Tushar

In [ ]:
x = d1.keys()
print(x)

dict_keys(['Name', 'age', 'Designation', 'Salary'])

In [ ]:
print(d1.values())

dict_values(['Tushar', 27, 'Data Scientist', '18 LPA'])

In [ ]:
print(d1.items())

dict_items([('Name', 'Tushar'), ('age', 27), ('Designation', 'Data Scientist'), ('Salary', '18 LPA')])

KeyError: 0

In [ ]:
x = d1.keys()
print(x[0])

TypeError: 'dict_keys' object is not subscriptable

In [ ]:
print(d1.keys(),d1.values())

dict_keys(['Name', 'age', 'Designation', 'Salary']) dict_values(['Tushar', 27, 'Data Scientist', '18 LPA'])

In [ ]:
d1 = {"Name": "Kishore","Name1":"Kishore", "age": 27, "Designation": "Data Scientist","Salary": "18 LPA"}

In [ ]:
print(d1)

{'Name': 'Kishore', 'Name1': 'Kishore', 'age': 27, 'Designation': 'Data Scientist', 'Salary': '18 LPA'}

In [ ]:
tried dictionary of dictionaries :d1 ={"emp1":{"name":"Tush","age":10,"val":900},"emp2":{"name":"Bush","age":20,"val":1000} }
print(d1["emp1"])

In [ ]:
print(type(d1))

<class 'dict'>

In [ ]:
d1 = {"Name":"Kishore"}
d1.keys()

dict_keys(['Name'])

In [ ]:
a = "Kishore"
print(type(a))

<class 'str'>

In [ ]:
print(a.lower())

kishore

In [ ]:
d1 = {"Name":"Kishore"}
d1["Name"] = "Kartik"
print(d1)

{'Name': 'Kartik'}

In [ ]:
d1["Name1"] = ["Kishore","Aman","Joy"]

In [ ]:
print(d1)

{'Name': 'Kartik', 'Name1': 'Kishore'}

In [ ]:
d1.pop("Name")

'Kartik'

In [ ]:
print(d1)

{'Name1': ['Kishore', 'Aman', 'Joy']}

In [ ]:
print(d1["Name1"])

['Kishore', 'Aman', 'Joy']

In [ ]:
#if and else:

if : condition
elif: (multiple conditions)
else: (by default -- No condition required)

'''age >= 18
Resident of India: (Citizenship)
Yes

No'''

'''
==
>
<
>=
<=
!=
'''

In [ ]:
age = input("enter your age")
print(age)
print(type(age))

KeyboardInterrupt: Interrupted by user

In [ ]:
age = input("enter your age")
print(age)
print(type(age))

enter your age18
18
<class 'str'>

In [ ]:
#input----- string
#typeconversion
age = int(input("Enter your age"))
nationality= input("Enter your Nationality:").strip().lower()
print(age)
print(nationality)
#print(type(age))

if age>70 and nationality=="indian":
  print("Hey! You are eligble to cast a vote but be careful it may be your last govt choose the govt. wisely for your future generations!")
elif age>=18 and nationality=="indian":
  print("Hey! You are eligble to cast a vote")
else:
  print("Sorry!! You can't Vote")

Enter your age54
Enter your Nationality:india
54
india
Sorry!! You can't Vote

In [ ]:
a = "INDIAN"
b = "indian"

a == b

False

In [ ]:
#scholarship eligibility

age = int(input("enter your age")) #age input <= 25
percentage = float(input("Enter your marks percentage")) # >85%
income = int(input("Enter your family annual income")) # 300000 INR
extracuricullar = input("have you participated in any national event(sports/NCC/NSS)ENTER: (Yes/No)").strip().lower()#Yes


if age<=25 and percentage >=85 and income<= 300000 and extracuricullar == "yes":
  print("Congratulations!! You are eligible for scholarship and you can proceed with your application")

elif age>25:
  print("You can not apply for the scholarship as age limit is surpassed")

elif percentage<85:
  print("You are having less marks, sorry! you are not eligible")

elif income > 300000:
  print("Hey! you are capable enough to sustain your studies, without scholarship")

elif extracuricullar!="yes":
  print("Sorry! there is no record for any extracuricullar participation you are not eligible ")

else:
  print("INVALID INPUT")

In [ ]:
#python loops
#for : iterate over the sequences : str, list, tuple, dict, set
#while

s1 ="Kishore"

for x in s1:
  print(x)

In [ ]:
s1 ="Kishore"
for x in s1:
  print(x)

K
i
s
h
o
r
e

In [ ]:
l1 = ["Kishore","Anusha","Anil","Shubra","Krishana"]
for a in l1:
  print(a)

Kishore
Anusha
Anil
Shubra
Krishana

In [ ]:
s1 = "python"
for index,char in enumerate(s1):
  print(f"Index {index}:{char}")

Index 0:p
Index 1:y
Index 2:t
Index 3:h
Index 4:o
Index 5:n

In [ ]:
for char in ['k','i','s','h','o','r','e']

<class 'list'>

In [ ]:
s1 = "Kishore"
for x in s1:
     print(x)
     if x == 'o':
      break

K
i
s
h
o

In [ ]:
s1 = "Kishore"
for x in s1:
  if x == 'o':
   continue
  if x == 'r':
   continue
  print(x)

K
i
s
h
e

In [ ]:
#while loop

i = 10 #initialization
while i>=1: #condition
  print(i)
  i=i-1#increment

10
9
8
7
6
5
4
3
2
1

In [ ]:
print(i)

0

In [ ]:
num = int(input("Enter the number"))
i = 1 #initialization
#while loop
while i<=10:
  #formatted strings
  print(f"{num} X {i} = {num*i}")
  if i == 5:
    break
  i+=1

Enter the number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [ ]:
#functions: user def inbuilt
#parametrised func
#non parameterized
#parameters : variables
#callable piece of a code
#call by name
#use again and again
#def keyword

In [ ]:
#non parameterized
def add_num():
  a = int(input("enter the value for a"))
  b = int(input("enter the value for b"))
  c = a + b
  print(c)

add_num()

enter the value for a11
enter the value for b12
23

In [ ]:
def vote_eligiblity_checker():
 age = int(input("Enter your age"))
 nationality= input("Enter your Nationality:").strip().lower()
 print(age)
 print(nationality)
 #print(type(age))

 if age>70 and nationality=="indian":
  print("Hey! You are eligble to cast a vote but be careful it may be your last govt choose the govt. wisely for your future generations!")
 elif age>=18 and nationality=="indian":
  print("Hey! You are eligble to cast a vote")
 else:
  print("Sorry!! You can't Vote")

In [ ]:
vote_eligiblity_checker()

KeyboardInterrupt: Interrupted by user

In [ ]:
#non parameterized
a = int
def add_num(a,b):#parameters
  c = a + b
  print(c)

In [ ]:
add_num(12,13)#arguments

25

In [ ]:
add_num(20,30)

50

In [ ]:
add_num()

TypeError: add_num() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
a = "Kartik"
print(f"{a} is here")
print("{a}is here")

Kartik is here
{a}is here

In [ ]:
a = "    Kish  ore   "
print(len(a))
print(len(a.strip()))

16
9