In [ ]:
Agenda: Python Basics

In [ ]:
#Python: High Level Interpreted programming language
#Program: piece of code that can be executed to perform a specific task.
#High Level: close to humans, simple syntax

In [ ]:
"""Complier: Entire program in one go. Faster because entire program runs in one go.
Errors will be shown after compilation. Java C++

Interpreter: Line by Line manner. Slower process code line by line.
stops at the very first error encountered and reports immediately Python Javascript"""

'Complier: Entire program in one go. Faster because entire program runs in one go. \nErrors will be shown after compilation. Java C++\n\nInterpreter: Line by Line manner. Slower process code line by line. \nstops at the very first error encountered and reports immediately Python Javascript'

In [ ]:
#why Python??
#easy syntax
#print("hello world")
#error debugging easy
#Interpreted
#huge set of libraries for everything
#Dynamic Typing:
a = 10

In [ ]:
print("Hello world")

Hello world

In [ ]:
#comments in python
#this line prints the name
print("hello! Kishore")

hello! Kishore

In [ ]:
"""comments in python
this line prints the name"""
print("hello! Kishore")

hello! Kishore

In [ ]:
#Variable: store the data
x = "Khushal"
Y = "Keshav"
print(x)
#pyhton is case sensetive
ice = "cold"
ICE = "snow"
print(ice)
print("ICE")
#what is diff bw ' ' & " " & """ """?
print('hello')
print("hello")
print("engine's")
#print('engine's')
print("""mahatama gandhi wrote "my experiments with truth" """)
#print("mahatama gandhi wrote "my experiments with truth".")

Khushal
cold
ICE
hello
hello
engine's
mahatama gandhi wrote "my experiments with truth"

In [ ]:
a = "Keshav"
print(type(a))
#str = string datatype
b = 2
print(type(b))
#int = integer datatype
c = 10.01
print(type(c))
#float = decimal datatype
d = 3 + 5j
print(type(d))
print(type("Rahul"))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
#print("hello")
print('heelo1')

heelo1

In [ ]:
#rules for naming a variable
#1. starts with letter or an underscore
a = 10
#2a = 10
_b = 10

#2. A-Z a-z 0-9 and _ anything apart from it will hit an error
#3. case sensetive ice and ICE will be treated diff
ice = "cold"
ICE = "snow"
#print(ice)
#print(ICE)
#4. you can't use reserved keywords as your variable name
#and = "new"
print()

SyntaxError: invalid syntax (<ipython-input-42-7ffa1a894ffe>, line 15)

In [ ]:
name1 = "lion"

In [ ]:
#operators:
"""
1. Arithmetic Operator:

+ addition
- subtraction
* Multiplication
/ Division
% Modulus : Remainder
** Exponential
// Floor Division

"""
a = 10
b = 5
c = 3
x = 15
y = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%c)
print(a**b)
print(x//y)

"""
2. Assignment Operator:
Used to assign the values:
=
+=
-=
*
"""
m = 10
print(m)
m +=5
print(m)
"""
3. Comparison Operator:
compare the values
1. ==
2. !=
3. >
4. <
5. <=
6. >=
"""
"""
4. Logical Operator:
"""
print("END")

SyntaxError: invalid syntax (<ipython-input-13-39493391a9ef>, line 39)

In [ ]:
#print(x=10)
x= 10
y= 2
print(x**y)

100

In [ ]:
m=20
m*=5
print(m)
#hi sir it was giving 105

100

In [ ]:
x= 10
y = 2

In [ ]:
x**=y
print(x)

100

In [ ]:
# comparison operators
"""
3. Comparison Operator:
compare the values
1. ==
2. != not equals to
3. >
4. <
5. <=
6. >=
"""
x = 5
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x>=y)

False
True
False
True
True

In [ ]:
if x!=y:
  print("hello")

hello

In [ ]:
#logical operators:
# and:
x = 10
print(x>3 and x>10)# False
# or:
print(x>3 or x>10)
# not:
print(not(x>3 and x>10))#not has reversed the results to true

False
True
True

In [ ]:
if x!=y:
 print("hello")

hello

In [ ]:
print("hello")
a = "Nice"
print(a)

hello
Nice

In [ ]:
#array: collection of same datatype.
print(a[0])
print(a[1])
print(a[2])
print(a[3])

#index: starts from 0 and ends at len-1

print(len(a))

#[0] = 'L' ----------------------- Not possible-  ----- strings are immutable if item assignment is done
a = 'Mice'

print(a[0])
print(a[1])
print(a[2])
print(a[3])

M
i
c
e
4
M
i
c
e

In [ ]:
a = "Hello world"
print(a)
print(a[0:5])
print(a[6:11])

Hello world
Hello
world

In [ ]:
x = a[6:11]
y = a[0:5]

print(x)
print(y)

print(y+' '+x)

world
Hello
Hello world

In [ ]:
print(a[:5])

Hello

In [ ]:
print(a[6:])

world

In [ ]:
name = "Kishore"
print(name)
print(len(name))
print(name[-7])
print(name[-6])
print(name[-5])
print(name[-4])
print(name[-3])
print(name[-2])
print(name[-1])

Kishore
7
K
i
s
h
o
r
e

In [ ]:
#string methods built- in methods to perform specific tasks
name = 'KISHORE'
name = name.lower()
last_name = '  Cha uhan   '
print(len(last_name))
last_name = last_name.strip()
print(len(last_name))

last_name = last_name.replace(' ','')
print(last_name)

full_name = name + last_name
print(full_name)

13
8
Chauhan
kishoreChauhan

In [ ]:
#Lists:-- it stores multiple items under single variable name.

# Lists are ordered
# Lists are chageable
# Allows duplicates

In [ ]:
l1 = ["Shivani","Gunjan","Sathya","Venkat","Samika" ]
print(l1)
#marks = [90.1,47,80.8,88,77]
#print(marks)


print(len(l1))

print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])

l1[0] = 'Kishore' #item assignment is possible in list
print(l1)

['Shivani', 'Gunjan', 'Sathya', 'Venkat', 'Samika']
5
Shivani
Gunjan
Sathya
Venkat
Samika
['Kishore', 'Gunjan', 'Sathya', 'Venkat', 'Samika']

In [ ]:
print(type(l1))

<class 'list'>

In [ ]:
l1 = ["Shivani","Gunjan","Sathya","Venkat","Samika","Samika",90,99.99]
print(l1)

['Shivani', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Samika', 90, 99.99]

In [ ]:
#Dynamic Typing

x = "10.10"
print(type(x))
#-------------------print(type(variable name))

#pros: flexible, concise
#cons: potential errors at runtime, Performance overhead

<class 'str'>

In [ ]:
#slicing
print(l1[0:5])

['Shivani', 'Gunjan', 'Sathya', 'Venkat', 'Samika']

In [ ]:
#list methods
l1.append("Aditya")
print(l1)
l1.insert(1,"Rahul")
print(l1)

['Kishore', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Aditya']
['Kishore', 'Rahul', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Aditya']

In [ ]:
l1 = ["Shivani","Gunjan","Sathya","Venkat","Samika" ]

In [ ]:
print(l1)

['Shivani', 'Gunjan', 'Sathya', 'Venkat', 'Samika']

In [ ]:
l1.insert(1,"Aditya")
#l1.insert(1,"Rahul")
print(l1)

['Shivani', 'Aditya', 'Rahul', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Aditya', 'Aditya']

In [ ]:
l1.remove("Aditya")
print(l1)

['Shivani', 'Rahul', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Aditya', 'Aditya']

In [ ]:
l1.pop(1)

'Rahul'

In [ ]:
print(l1)

['Shivani', 'Rahul', 'Gunjan', 'Sathya', 'Venkat', 'Samika', 'Aditya']

In [ ]:
l1.clear()

In [ ]:
print(l1)

[]

In [ ]:
print(l1[0])

IndexError: list index out of range

In [ ]:
del l1

In [ ]:
print(l1)

NameError: name 'l1' is not defined

In [ ]:
#clear????

In [ ]:
marks = [90.1,47,80.8,88,77]
marks.sort(reverse = True)#ascending order
print(marks)

[90.1, 88, 80.8, 77, 47]

In [ ]:
l1 = [1,2,3,4,5,6]
l2 = [7,8,9,10]
print(l1+l2)
l3 = l1+l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Tuples: ordered unchangeable and allows duplicates
t1 = ("car","bike","bus","scooter","truck")

In [ ]:
print(t1)

('car', 'bike', 'bus', 'scooter', 'truck')

In [ ]:
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])

car
bike
bus
scooter

In [ ]:
t1[0] = "Helicopter"

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t1[2:5])

('bus', 'scooter', 'truck')

In [ ]:
#list are mutable
#tuples immutable

t1 = ("python","java","c++")
l1 = list(t1)
print(l1)
l1[1] = 8
print(l1)
t1 = tuple(l1)
print(t1)

['python', 'java', 'c++']
['python', 8, 'c++']
('python', 8, 'c++')

In [ ]:
#sets: unchangeable(we can remove and add items)
#uordered unchangeable duplicates not allowed

s1 = {1,2,3,4,5,6,7,8,8,8}
print(s1)
s2 = {"kishoreF","smaika","Richa","mani","rahul"}
print(s2)

#print(s2[0])
#print(s2[1])------- ?????

s2.add("satrajit")
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{'mani', 'smaika', 'kishore', 'rahul', 'Richa'}
{'mani', 'smaika', 'kishore', 'rahul', 'satrajit', 'Richa'}

In [ ]:
s2.remove("satrajit")

In [ ]:
#how to remove all duplicates from the list in one go???

#can i convert list into a set???

list tuple set ---- dictionary

In [ ]:
"""list[]
tuple()
set{}
dictionary{key:value}"""

#ordered chngeable but don't allows duplicates

d1 = {"Name":"Kishore", "Age":27, "Designation":"Senior Data Analyst","Salary":"12LPA"}
print(d1)

{'Name': 'Kishore', 'Age': 27, 'Designation': 'Senior Data Analyst', 'Salary': '12LPA'}

In [ ]:
print(len(d1))

4

In [ ]:
#Accessing the Values
print(d1.get("Name"))
print(d1["Name"])

Kishore
Kishore

In [ ]:
#Access the keys
print(d1.keys())

dict_keys(['Name', 'Age', 'Designation', 'Salary'])

In [ ]:
x = d1.keys()

In [ ]:
print(type(x))

<class 'dict_keys'>

In [ ]:
print(d1.values())

dict_values(['Kishore', 27, 'Senior Data Analyst', '12LPA'])

In [ ]:
d1.update({"Designation":"Senior Data Scientist"})

In [ ]:
print(d1)

{'Name': 'Kishore', 'Age': 27, 'Designation': 'Senior Data Scientist', 'Salary': '12LPA'}

In [ ]:
d1.pop("Salary")

'12LPA'

In [ ]:
print(d1)

{'Name': 'Kishore', 'Age': 27, 'Designation': 'Senior Data Scientist'}

In [ ]:
d1.clear()

In [ ]:
print(d1)

{}

In [ ]:
del d1

In [ ]:
print(d1)

NameError: name 'd1' is not defined

In [ ]:
#try to add salary back to d1---- >>>>
add the key?

In [ ]:
#If else Statements ( Expressions --- -operations done with operators)>>>>> ---------------------- Conditionals

#Outcome----- Default

#Boolean:

#True False

print(10>11)
#Boolean
print(10==10)
print(10<9)

False
True
False

In [ ]:
#assigning the boolean values

x = True
print(type(x))
y = False
print(type(y))

a = 10
print(type(a))
print(bool(a))
"""

#----------------------------------------------
1. almost all values of any variable are true.
2. any string is true if it is not empty
3. empty strings are always False
4. all empty values are false.
"""
#false
#False
#(tuple){set}[list]"null" 0

l1 = []
print(bool(l1))

#because the list is empty

<class 'bool'>
<class 'bool'>
<class 'int'>
True
False

In [ ]:
# Boolean -------------------> True or False
#
m = True
n = False

#finding the boolean values of any expression---- > combination of values and operators(comparison)
print(10>9)
print(10==10)

a = [1,2,3,4] #list-- non empty
b = [] #empty
print(bool(a))
print(bool(b))

True
True
True
False

In [ ]:
#pyhton conditionals

#comparison operators
'''
==
!=
>
<
>=
<=
'''

x = 10
y= 20

if x > y:
  print("x is greater than y")
elif x ==y:
  print("x is equal to y")
elif y > x:
  print("y is greater than x")
else:
  print("Invalid input")

y is greater than x

In [ ]:
#how to take input python
#user input
x = int(input("Give value for x")) #Takes input in str
y = int(input("Give  yhe value of y")) # need to covert ie: we have converted string to in

print(type(x)) #printing type of x

if x > y:
  print("x is greater than y")
elif x ==y:
  print("x is equal to y")
elif y > x:
  print("y is greater than x")
else:
  print("Invalid input")

Give value for x8
Give  yhe value of y9
<class 'int'>
y is greater than x

In [ ]:
#voting management system


# age > 18
# Citizenship == "INDIAN"

age = int(input("Enter your age"))

if age > 18:
  print("you are eligible to vote")
else:
  print("Sorry you are not eligible to vote")

Enter your age19
you are eligible to vote

In [ ]:
age = int(input("Enter your age"))
ct = input("Enter your Citizenship eg: if INDIA then INDIAN ")

if age > 18 and ct.upper() == "INDIAN":
  print("you are eligible to vote")
else:
  print("Sorry you are not eligible to vote")

Enter your age50
Enter your Citizenship eg: if INDIA then INDIAN indian
you are eligible to vote

In [ ]:
#Pyhton Loops
#I need to iterate over a sequence-- yes
# 50 students in class "Ankit is found I need to stop my search"
# if I want to write a table -- Yes
#loops are incremnted(user) after each case
#if you want to print all the names in sequence

In [ ]:
# for
# while

i = 1
while i<= 115:
  print(i)
  i = i+3

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100
103
106
109
112
115

In [ ]:
i = 1
while i <= 10:# true is fasle
  print(i)

  print("now value will incerment by 1")
  i = i+1

1
now value will incerment by 1
2
now value will incerment by 1
3
now value will incerment by 1
4
now value will incerment by 1
5
now value will incerment by 1
6
now value will incerment by 1
7
now value will incerment by 1
8
now value will incerment by 1
9
now value will incerment by 1
10
now value will incerment by 1

In [ ]:
num = int(input("Enter the number"))
i = 1
while i <= 10:
  print(f"{num} X {i} = {num*i}")
  i =i+1

Enter the number6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
#For loops:

for variable in sequence:
  #code block to execute

In [ ]:
#list
fruits = ["apple", "Mango", "Orange", "Water- melon"]
for fruit in fruits:
  print(fruit)

apple
Mango
Orange
Water- melon

In [ ]:
for letter in "Python":
    print(letter)
    print("Hello")
    print("hi")

P
Hello
hi
y
Hello
hi
t
Hello
hi
h
Hello
hi
o
Hello
hi
n
Hello
hi

In [ ]:
i = 1
while i<=10:
  print(i)
  if i ==8:
    break
  i= i+1

1
2
3
4
5
6
7
8

In [ ]:
#use continue to skip 5 iteration out of count (1-10).
#i = 1
i = 0
while i<10:
 i=i+1
 if i == 5:
  continue
 print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
i=1
while i<=10:
 print (i)
 i = i+1
 if i==5:
  break

1
2
3
4

In [ ]:
Hands- On / Homework

#1. conditionals make one weather reporting application.(sunny rainy cold cloudy)
#2. print all even numbers 1- 50
#3. write a program to find out sum of first n natural numbers. (you will provide input)
#4. with while loop revers the given number (eg: 123 ---- 321 )

In [ ]:
# Functions: its a callable piece of code that too with the name

#syntax:

def fun1():
  print("hello from this function call")

In [ ]:
fun1()

hello from this function call

In [ ]:
def sum_fun(a,b):#parmeterized function
  print(a+" "+b)

sum_fun("Kishore","Kumar") #arguments(values)
sum_fun("Aditya","Pawar")
sum_fun("100","200")

Kishore Kumar
Aditya Pawar
100 200

In [ ]:
def cardrive(car_name):
  pass

In [ ]:
# functions-- conditionals make one weather reporting application.(sunny rainy cold cloudy)

In [ ]:
def weather_report(temp):
  if temp < 0:
    return "Freezing cold outside!!! Stay indoors please and keep yourself warm"
  elif 0<= temp <= 10:
    return "Its cold outside please wear heavy woolen clothes"
  elif 11<= temp <= 20:
    return "Its cold outside please take a fleece jacket"
  elif 21<= temp <= 30:
    return "Its very pleasing weather outside you can enjoy"
  elif 31<= temp <= 40:
    return "its very sunny day please stay hydrated"
  elif 40<= temp <= 50:
    return "Its very hot outside please stay indoors if possible"

  else:
    return "Invalid Input"

In [ ]:
#return instead of print
# how they output the data and where that output can be used
# print()-- only displays output on the screen------ but does not return anythin to be used in further calculations
# print is useful for debugging the prog
#return will return the values which can be further used in calculations

In [ ]:
def greet(name):
  print("Hello " +name)

message = greet("Kishore")
print(message)

print(print())

#issue here with print is that I can't store and
#re- use the value printed

Hello Kishore
None

None

In [ ]:
#return will send the value back to the caller
#returned value can be stored as well as re- used

def greet(name):
  return "Hello " +name
message1 = greet("Kishore")
message2 = greet("Ram")
print(message1)

Hello Kishore

In [ ]:
def fun2("Weather_R"):
     if weather_R= "sunny":
         return("its Sunny")
     elif weather_R= "Rainy":
         return("its Rainy")
     elif weather_R= "Cold":
         return("its cold")
     elif weather_R= "Cloudy":
         return("its cloudy")
     else print("clear")

In [ ]:
def fun2(weather_R):
     if weather_R== "sunny":
      print("its Sunny")
     elif weather_R== "Rainy":
      print("its Rainy")
     elif weather_R== "Cold":
      print("its cold")
     elif weather_R== "Cloudy":
      print("its cloudy")
     else:
      print("clear")

fun2("sunny")

its Sunny