In [ ]:
print("hello world")
print("hi")

hello world
hi

In [ ]:
#why python?
#simple syntax
#easy to understand
#open source language, large community, large set of libraries
#interpreted language
#object-oriented programming
#high-level language

In [ ]:
#medical,research,data science, finance etc...

In [ ]:
#they convert the code to binary, binary to code/human understandable language
#compiler: takes all the line code, then converts to binary
#interpreter: executes code line by line
#decode the errors
#binary(0,1)

In [ ]:
print("hello world")
print("hi")
print(how are you?)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-6-12f3b66a9bdc>, line 3)

In [ ]:
High level language: code language is close to human language

low level Language: code language is to close machine language

In [ ]:
#c,c++,java,python

#guido van rossum,1991

In [ ]:
#Introduction to python
#variables
#syntax
#comments
#data types
#operators
#indexing and slicing
#list
#tuple
#set
#dictionaries
#conditional statements
#loops
#functions

In [ ]:
#syntax
print(123)
print(12683)

123
12683

In [ ]:
#python google style guide
#pep8

In [ ]:
#variables: it is an object, which stores a value.

In [ ]:
x=156

In [ ]:
print(x)

156

In [ ]:
#python is Case sensitive
#1- can use alphanumeric characters(A-Za-z0-9), special character "_"
#2- very first character of the variable cannot be an number

In [ ]:
#example:
word_0='hi, how are you?'
print(word_0)

hi, how are you?

In [ ]:
0_x=124
0_x

SyntaxError: invalid decimal literal (<ipython-input-27-01733a96e04a>, line 1)

In [ ]:
#
a- word2vec-correct
b- word_vec2-correct
c- _word vector-incorrect
d- 2vector_word-incorrect
e- vec2_word_-correct

In [ ]:
word_vec2=123
word_vec2

123

In [ ]:
_word vector=12 #this is a variable
_word vector

SyntaxError: invalid syntax (<ipython-input-35-34303e2c4953>, line 1)

In [ ]:
abe

NameError: name 'abe' is not defined

In [ ]:
#comments- It is non-executuable code line
#
x='Hi'
y="Hello"
print(x)
# print(y)

Hi

In [ ]:
#mutiline line comments:ctrl+/
x='Hi'
# y="Hello"
# print(x)
# print(y)

Hi

In [ ]:
# data types:A Data Type is simply a piece of information associated with a variable to
# indicate to the interpreter what type of data is stored in a variable, e.g.:
# Number, Text etc.

1. Numeric:int,float(decimals),complex
2. string
3. Boolean
4. Squential datatype
5. mapping datatype

In [ ]:
#type()- used for checking the datatype of a variable/value

In [ ]:
#1. Numeric:int,float(decimals)
x=-123
print(x)
type(x)

-123

int

In [ ]:
y=123.01
type(y)

float

In [ ]:
#complex: a+bj, a->real number, bj->imaginary number
#i=(-1)^0.5
#i^2=-1
z=3+2j
type(z)

complex

In [ ]:
#2. string- seqeuence of characters
#''-single quota
#" "-double quota
#''' '''/""" """-triple quota

#single quota,double quota - used for single line string
#triple quota- creation of multi line strings

In [ ]:
#keyword-str
word='HI, how are you?'
print(word)

HI, how are you?

In [ ]:
word="HI, how are you?"
print(word)

HI, how are you?

In [ ]:
word="""HI,This is sunny.
      How are you?"""
print(word)

HI,This is sunny.
      How are you?

In [ ]:
x="He said,'he wont be available.'"
print(x)

He said,'he wont be available.'

In [ ]:
y='''he said,"It's complicated"'''
print(y)

he said,"It's complicated"

In [ ]:

name='sunny'
x='HI'
print( x,"this is",name," how are you?")

HI this is sunny  how are you?

In [ ]:
#formatted strings: f"",f''
name='sunny'
s=f'Hi this is {name}'
print(s)

Hi this is sunny

In [ ]:
x=2
y=4
print("addition of x:",x,"and y:",y,"is: ",x+y)
print(f"addition of x:{x} and y:{y} is:{x+y}")

addition of x: 2 and y: 4 is:  6
addition of x:2 and y:4 is:6

In [ ]:
#3. Boolean:
True: 1, False: 0

In [ ]:
#.Sequential datatype: list,tuple,set
#can store mutiple values under single variable

list=[]
tuple=()
set={}

In [ ]:
x=[12,3,2,12,312,2,132,98]
x

[12, 3, 2, 12, 312, 2, 132, 98]

In [ ]:
#operators:
1. Arithemetic operators
2. Assignment operators
3. comparision operators
4. logical operators
5. membership operators

In [ ]:
#1. Arithemetic operators:
+(addition),-(subtraction),*(multiplication),**(exponential),/(division),//(floor division),%(modulus)

In [ ]:
/(division),//(floor division),%(modulus)

In [ ]:
21/2

10.5

In [ ]:
#//(floor division)- int as an output
#10.99,10.01,10.5,10.6-10
21//2

10

In [ ]:
#%(modulus)-remainder of the division
21%2

1

In [ ]:
#2. Assignment operators: This operators are used for assigining a value to a variable
=,+=,-=,*=,**=,/=,....

In [ ]:
x=2
x

2

In [ ]:
#+=,increment operators
x=2
x=x+3
x

5

In [ ]:
x=2
x+=3#x=x+3
x

5

In [ ]:
x=2
x-=3#x=2-3
x

-1

In [ ]:
#bodmas-bracket> of division ,mutiplication> addition and subtraction

2*3+20/(2*2)
#2*3+20/4
#6+20/4
#6+5
#11

11.0

In [ ]:
#3. comparision operators: for comparision of 2 or more variables
#output: boolean
#==(equal to), !=(not equal to), >(greater),<(less than),>=,<=
x=2
y=3

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>y

False

In [ ]:
#4. Logical operators:
# and , or , not
# and - gives true when all the condition are true
# or - gives true atleast one condition is true
# not -True->False and vice versa
x=2
y=5
z=4

And

T and T -> T
T and F -> F
F and T -> False
F and F -> F

or

T and T -> T
T and F -> T
F and T -> T
F and F -> F

In [ ]:
x=2
y=5
z=4

In [ ]:
x>y and x<z#2>5 -false,2<4-True

False

In [ ]:
x>y or x<z# False or True -True

True

In [ ]:
not(x>y or x<z)

False

In [ ]:
#membership operators: in, not in
#to check/test if an particular value is present in a sequetial datatype or str.

In [ ]:
word="HI, how are you?"

In [ ]:
"HI" in word

True

In [ ]:
"z" in word

False

In [ ]:
x=[1,2,32,4,1,2,3]
x

[1, 2, 32, 4, 1, 2, 3]

In [ ]:
32 in x

True

In [ ]:
432 not in x

True

In [ ]:
#slicing and indexing
#str
word="HI, how are you?"
#     0123456789......
#index:0 to ....

In [ ]:
#indexing: retrevial of a value stored at an specific index position
#variable[index]
word[4]

'h'

In [ ]:
word[0]

'H'

In [ ]:
#len()-length/no of character/values stored in a variable
len(word)

16

In [ ]:
print(word)
#len(word)-1
len(word)-1

HI, how are you?

15

In [ ]:
word[15]

'?'

In [ ]:
#slicing:
#variable[start:end:step]
#var[2:10]#start,...end-1
#2,3,4,5,6,7,8,9

In [ ]:
word

'HI, how are you?'

In [ ]:
word[4:9]#4,5,6,7,8

'how a'

In [ ]:
word[:5]#start=0-> default,0,1,2,3,4

'HI, h'

In [ ]:
word[5:]

'ow are you?'

In [ ]:
word[:]

'HI, how are you?'

In [ ]:
#step
20 steps:
0,1,...20:
step1:0,1,2,3,...20
step2:0,2,4,6,8....20
step6:0,6,12,18

In [ ]:
word

'HI, how are you?'

In [ ]:
word[4::]#default step:1

'how are you?'

In [ ]:
word[4::2]#[start:end:step]
#last index=15
#4,6,8,10,12,14

'hwaeyu'

In [ ]:
#negative index
#+ve->left to right
#-ve-> right to left

word="HI, how are you?"
#     0123456789.....15
     -16     ...-3-2-1

In [ ]:
word[0]

'H'

In [ ]:
len(word)

16

In [ ]:
word[-16]

'H'

In [ ]:
word[-1]

'?'

In [ ]:
#slicing
#step:+ve start<end
#step:-ve start>end

In [ ]:
word

'HI, how are you?'

In [ ]:
#[3:10:2]->step 2:3,5,7,9
#[10:7:2]->No
#[10:7:-1]->10,9,8

In [ ]:
word[10:7:-1]

'era'

In [ ]:
word[::-1]

'?uoy era woh ,IH'

In [ ]:
word="HI, how are you?"

In [ ]:
word[-10:-2]#step->+ve,-10 to -2
#-10,-9,-8,..-3

'w are yo'

In [ ]:
-10<-2

True

In [ ]:
#list=[]
#tuple=()
#set={}
#dictionaries
#conditional statements
#loops
#functions

In [ ]:
List: ordered, allows duplicates, mutable
Tuple: ordered, allows duplicates, immutuable
set: unordered, duplicates not allowed, immutuable
#list=[]
#tuple=()
#set={}
#hetrogeneous datatypes
10,4,3,65

3,4,10,65

In [ ]:
#list=[]
#hetrogeneous datatypes(multiple datatypes/shape)
l=[18,19,20,4,3,21,3,19,20]
l

[18, 19, 20, 4, 3, 21, 3, 19, 20]

In [ ]:
t=(18,19,20,4,3,21,3,19,20)
t

(18, 19, 20, 4, 3, 21, 3, 19, 20)

In [ ]:
s={18,19,20,4,3,21,3,19,20}
s

{3, 4, 18, 19, 20, 21}

In [ ]:
l=[12,10.3,'str',True,[1,3,2],(87,2,3)]
l

[12, 10.3, 'str', True, [1, 3, 2], (87, 2, 3)]

In [ ]:
l[4]

[1, 3, 2]

In [ ]:
l=['j','o','h','n','n','y']

In [ ]:
#mutuable
->adding/appending new values
-> remove the values
-> updation

In [ ]:
l=[18,19,20,4,3,21,3,19,20]
l

[18, 19, 20, 4, 3, 21, 3, 19, 20]

In [ ]:
len(l)

9

In [ ]:
print()

In [ ]:
#append()- this will add the element at end of the list
#syntax:list_var.append(value)
l.append(45)
l

[18, 19, 20, 4, 3, 21, 3, 19, 20, 45]

In [ ]:
#insert()-this will add the element at the index position specified
#syntax: list_var.insert(index,value)
l.insert(0,10)
l

[10, 18, 19, 20, 4, 3, 21, 3, 19, 20, 45]

In [ ]:
#last value index=-1
l.insert(-1,65)
l

[10, 18, 19, 20, 4, 3, 21, 3, 19, 20, 65, 45]

In [ ]:
l.insert(len(l),100)#(12,100)
l

[10, 18, 19, 20, 4, 3, 21, 3, 19, 20, 65, 45, 100]

In [ ]:
l.insert(5,'apple')
l

[10, 18, 19, 20, 4, 'apple', 3, 21, 3, 19, 20, 65, 45, 100]

In [ ]:
#-> remove the values
#pop()- removes the last value from the list
#list_var.pop()

In [ ]:
l.pop()
l

[10, 18, 19, 20, 4, 'apple', 3, 21, 3, 19, 20, 65, 45]

In [ ]:
print(l[-1])#
l.pop()#removing the last element
print(l)#updated list

45
[10, 18, 19, 20, 4, 'apple', 3, 21, 3, 19, 20, 65]

In [ ]:
#.remove(value)- removes value from a specific position

#del -removes the value of the index passed
#syntax: del list_var[index]
#del list_var[start:end]

In [ ]:
l

[10, 18, 19, 20, 4, 'apple', 3, 21, 3, 19, 20, 65]

In [ ]:
l.remove(3)
l

[10, 18, 19, 20, 4, 'apple', 21, 3, 19, 20, 65]

In [ ]:
del l[7]
l

[10, 18, 19, 20, 4, 'apple', 21, 19, 20, 65]

In [ ]:
#delete 2 to 5
del l[2:6]
l

[10, 18, 21, 19, 20, 65]

In [ ]:
l

[10, 18, 21, 19, 20, 65]

In [ ]:
#18-1,20-4
l.pop(1)
l

[10, 21, 19, 20, 65]

In [ ]:
# -> updation

In [ ]:
l

[10, 21, 19, 20, 65]

In [ ]:
#list_var[index]
l[2]='abc'

In [ ]:
l

[10, 21, 'abc', 20, 65]

In [ ]:
l[-1]=100
l

[10, 21, 'abc', 20, 100]

In [ ]:
l=['hi, iam going crazy']
l

['hi, iam going crazy']

In [ ]:
l[0][:8]

'hi, iam '

In [ ]:
l[0][13:]

' crazy'

In [ ]:
l[0][:8]+l[0][13:]

'hi, iam  crazy'

In [ ]:
#.replace(to_replace,value)-> replaces the value
l[0]=l[0].replace('going','')
l

['hi, iam  crazy']

In [ ]:
l=[10, 21, 'abc', 20, 100]
l

[10, 21, 'abc', 20, 100]

In [ ]:
l[2]=l[2].replace('abc','def')
l

[10, 21, 'def', 20, 100]

In [ ]:
t=(1,2,1231,2)
t

(1, 2, 1231, 2)

In [ ]:
t.append(23)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t[2]='ashda'

TypeError: 'tuple' object does not support item assignment

In [ ]:
s={12,12,312,32}

In [ ]:
s.append(12)

AttributeError: 'set' object has no attribute 'append'

In [ ]:
s.add(3)

In [ ]:
#dictionaries
#conditional statements
#loops
#functions

In [ ]:
#mapping datatype
dictionaries
syntax= {key: value}
#key are unqiue value, can be either a string/int
#value : hetrogeneous value

In [ ]:
d={'name':'Sunny','age':26, 10:[1,2,3,2]}
d

{'name': 'Sunny', 'age': 26, 10: [1, 2, 3, 2]}

In [ ]:
#l[3]
print(d['age'])
print(d[10])

26
[1, 2, 3, 2]

In [ ]:
d[10]

'hello'

In [ ]:
d={0:12,1:23,2:65,3:23}
d

{0: 12, 1: 23, 2: 65, 3: 23}

In [ ]:
#what happens if the same key mutiple times
d={0:12,1:23,2:65,3:23,2:100}
d

{0: 12, 1: 23, 2: 100, 3: 23}

In [ ]:
#dictionaries are mutuable data type
#add
#remove
#update

In [ ]:
d

{0: 12, 1: 23, 2: 100, 3: 23}

In [ ]:
#update
#list at index 2 , value =10, update =15

In [ ]:
d[1]=99
d

{0: 12, 1: 99, 2: 100, 3: 23}

In [ ]:
#add: create a key which is not in the dictonary and assign a value
d[7]=45
d

{0: 12, 1: 99, 2: 100, 3: 23, 7: 45}

In [ ]:
d['key1']=(1,2,32,3)
d

{0: 12, 1: 99, 2: 100, 3: 23, 7: 45, 'key1': (1, 2, 32, 3)}

In [ ]:
#remove
#1.pop('key')
#2.del d_name['key']

In [ ]:
d.pop(3)
d

{0: 12, 1: 99, 2: 100, 7: 45, 'key1': (1, 2, 32, 3)}

In [ ]:
del d[2]
d

{0: 12, 1: 99, 7: 45, 'key1': (1, 2, 32, 3)}

In [ ]:
d

{0: 12, 7: 45, 'key1': (1, 2, 32, 3)}

In [ ]:
#.keys()- it will retrive all the keys defined in the dictionary
#.values()- it will retrive all the values stored in the dictionary
#.items()- it will display all the data points in key, value pair

In [ ]:
d.keys()

dict_keys([0, 7, 'key1'])

In [ ]:
d.values()

dict_values([12, 45, (1, 2, 32, 3)])

In [ ]:
d.items()

dict_items([(0, 12), (7, 45), ('key1', (1, 2, 32, 3))])

In [ ]:
d

{0: 12, 7: 45, 'key1': (1, 2, 32, 3)}

In [ ]:
d={1:10, 2:20, 3:30, 4:40, 5:50, 6:60, 7:70, 8:80, 9:90, 10:100}
d.pop(5)

50

In [ ]:
del d[6]

In [ ]:
7 in d.keys()

True

In [ ]:
'key2' in d.keys()

False

In [ ]:
#input("message")-used for taking user input
#default datatype is string

In [ ]:
x=input()

hii

In [ ]:
x

'hii'

In [ ]:
y=input("enter your name: ")

enter your name: sunny

In [ ]:
y

'sunny'

In [ ]:
z=13
z=input("enter a number: ")
z

enter a number: 154

'154'

In [ ]:
#typecasting:
#coversion of one datatype to another
#int to float
#2 to 2.0
#float to int
#int to str
#2 to '2'
#str to int( possible if the value stored is numeric)
#'2' to 2 -

In [ ]:
type()-used for checking the datatype of a variable

In [ ]:
x=2
y=13.3
z='23'

In [ ]:
type(z)

str

In [ ]:
#int to float
#syntax: float(int_variable_name)
print(float(x))
type(float(x))

2.0

float

In [ ]:
#float to int
y=13.9
y

13.9

In [ ]:
int(y)

13

In [ ]:
z

'23'

In [ ]:
#str to int
int(z)

23

In [ ]:
z=int(input("enter a number: "))
type(z)

enter a number: 123

int

In [ ]:
z=float(input("enter a number: "))
type(z)

enter a number: 12.3

float

In [ ]:
#conditional statements: if else statements
#goal: adding a new key and value
#input()- new value
key is available: print a message, ask a new key/operation not possible
key is not available: then take the value to be stored and assign to the value to dictionary

In [ ]:
#          weather='mild'
if weather=='mild': yes you can play outside
# if waether not mild, no you cannot play

In [ ]:
#condition=True: code1
#condition=False: code2

In [ ]:
syntax:
if condition:#True-statement1
  statement1
else:#false-statement2
  statement2

In [ ]:
x=43
if x%2==0:
  print("x is even")
else:
  print("x is odd")

x is odd

In [ ]:
x=12
y=16
z=14
# x:x>y and x>z-(True)- x is largest
# y:y>x and y>z-(True)-y is largest
# z: if both conditions are false, z is largest

In [ ]:
#elif statments- used when you have more than 1 condition

#if > elif1>elif2>....>else

In [ ]:
syntax:
if condition1:#True-statement1
  statement1
elif condition2:
  statement2
elif Condition3:
  statement3
else:
  statement4

In [ ]:
x=12
y=16
z=14
if x>y and x>z:#F and F
  print(f"{x} is largest")
elif y>x and y>z:#T and T
  print(f"{y} is largest")
else:
  print(f"{z} is largest")

16 is largest

In [ ]:
#
d

{1: 10, 2: 20, 3: 30, 4: 40, 7: 70, 8: 80, 9: 90, 10: 100}

In [ ]:
#take a user input of key to be created
#check if the key is available in dictionary
#yes: print a message saying key is present,ask for a new key
#no : take the value to be added in the dictionary,perform the operations
#finally display the updated dictionary

In [ ]:
d={}
key=input("enter a key: ")
if key in d.keys():
  print("key is already present,retry!")
else:
  value=input("enter the value: ")
  d[key]=value
print(d)

enter a key: key1
enter the value: 120
{'key1': '120'}

In [ ]:
key=input("enter a key: ")
if key in d.keys():
  print("key is already present,retry!")
else:
  value=input("enter the value: ")
  d[key]=value
print(d)

enter a key: key2
key is already present,retry!
{'key1': '120', 'key2': '1221'}

In [ ]:
#loops/iteration
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello

In [ ]:
track-1km,competition-4km

In [ ]:
l=[2,3,2,4,32,423,23]

In [ ]:
#for , while loops
#for: when the number of iterations are defined
#while: loops will be executed till the condition is false

#syntax:
#for temp_var in variable/range():
  #code

In [ ]:
l

[2, 3, 2, 4, 32, 423, 23]

In [ ]:
for i in l:#i=2,3
  print(i)
#iter1:i=2,print(i)
#iter2:i=3,print(i)
#iter3:i=2,print(i)
#iter4:i=4,print(i)
#iter5:i=32,print(i)
#iter6:i=423,print(i)
#iter7:i=23,print(i)
#iter8:loops terminated

2
3
2
4
32
423
23

In [ ]:
#iter1:i=s,print(i)
#iter2:i=t,print(i)
#iter3:i=r,print(i)
#iter4:i=i,print(i)
#iter5:i=n,print(i)
#iter6:i=g,print(i)
#iter7:loop terminates
s="string"
for i in s:
  print(i)

s
t
r
i
n
g

In [ ]:
#range(low,end,step)
#default low value is 0
#range(10)-0,...9
#range(2,7):2,3,4,5,6

In [ ]:
for num in range(10):#0-9
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(2,20,3):#2,5,8,11,14,17
  print(num)

2
5
8
11
14
17

In [ ]:
l

[2, 3, 2, 4, 32, 423, 23]

In [ ]:
# print(l[0])
# print(l[1])
# print(l[2])
#print(l[7])
for a in range(len(l)):#0-6
  print(l[a])

2
3
2
4
32
423
23

In [ ]:
d={}
for i in range(4):
  key=input("enter a key: ")
  if key in d.keys():
    print("key is already present,retry!")
  else:
    value=input("enter the value: ")
    d[key]=value
print(d)

enter a key: key1
enter the value: 120
{'key1': '120'}
enter a key: key2
enter the value: 123
{'key1': '120', 'key2': '123'}
enter a key: key3
enter the value: 1223
{'key1': '120', 'key2': '123', 'key3': '1223'}
enter a key: key2
key is already present,retry!
{'key1': '120', 'key2': '123', 'key3': '1223'}

In [ ]:
#i=2
#sum=0
#end=20

#i=56
#sum=0
#end=23824966
#while loop:
#syntax:
while condition:
  code
#

In [ ]:
i=0#1,2,3,4,5
while i<5:
  print(i)#4
  i+=1#i=i+1
#iter1:i=0,True-print(i),i=1
#iter2:i=1,True-print(i),i=2
#iter3:i=2,True-print(i),i=3
#iter4:i=3,True-print(i),i=4
#iter5:i=4,True-print(i),i=5
#iter6:i=5,False- loop terminates

0
1
2
3
4

In [ ]:
print(i)

5

In [ ]:
l

[2, 3, 2, 4, 32, 423, 23]

In [ ]:
#using while loop, print all of the values inside the list

In [ ]:
ind=0
while ind<len(l):
  print(l[ind])
  ind+=1

2
3
2
4
32
423
23

In [ ]:
#using while loops add the variable to the sum, until sum is equal to 216
i=3
sum=0#216#219
while sum<=216:
  sum+=i

  if sum==216:
    print(sum)
print(f"final sum: {sum}")

216
final sum: 219

In [ ]:
#break statments: it will end/terminate the entire loops
#continue statments: this will end/terminate just the current itteration

In [ ]:
i=3
sum=0#3
while sum<=216:
  sum+=i
  break
  if sum==216:
    print(sum)
print(f"final sum: {sum}")

final sum: 3

In [ ]:
#iter1: sum=0, True, sum=3,break-terminates the loop

In [ ]:
l=[12,232,32,4,1,231,3]
for i in l:
  print(i)
  break

12

In [ ]:
l=[12,232,32,4,1,231,3]
for i in l:
  print(i)
  if i%32==0:
    break

12
232
32

In [ ]:
l=[12,232,32,4,1,231,3]
for i in l:#i=1
  if i%2!=0:
    break
  print(i)

12
232
32
4

In [ ]:
for i in range(3):
  print("Hi")
  print("123")
  print("hello")
  break
  print(124)

Hi
123
hello

In [ ]:
#continue
#take all the even number, if any odd number skip it
l=[12,232,32,4,1,231,3,212,32,5]
for i in l:
  if i%2!=0:
    break
  print(i)

12
232
32
4

In [ ]:
l

[12, 232, 32, 4, 1, 231, 3, 212, 32, 5]

In [ ]:
for i in l:
  if i%2!=0:#this condition is true when number is not divisible by 2, odd
    continue
  print(i)

12
232
32
4
212
32

In [ ]:
#functions:
block of code will execute only when it is called/(function call)

In [ ]:
#syntax:
#def function_name():
#  code

#function call:
function_name()

In [ ]:
def func():
  print("Hello")

In [ ]:
func()

Hello

In [ ]:
name=input("enter the name: ")
func()
print(f"welcome back {name}")

enter the name: max
Hello
welcome back max

In [ ]:
name=input("enter the name: ")
print("hello")
print(f"welcome back {name}")

num=3
if num%2==0:
  print("even")
else:
  print("odd")

odd

In [ ]:
def func1():
  name=input("enter the name: ")
  print("hello")
  print(f"welcome back {name}")

def func2():
  num=3
  if num%2==0:
    print("even")
  else:
    print("odd")


func1()

enter the name: max
hello
welcome back max

In [ ]:
input()

In [ ]:
func2()

odd

In [ ]:
func2()

odd

In [ ]:
def func1():
  name=input("enter the name: ")
  print("hello")
  print(f"welcome back {name}")

def user_login():
  func1()
  user_id=input("enter your id:")
  password=input(f"enter your password for id :{user_id} ")

In [ ]:
user_login()

enter the name: max
hello
welcome back max
enter your id:125183
enter your password for id :125183 ashdaasd

In [ ]:
def even_odd():
  num=3
  if num%2==0:
    print("even")
  else:
    print("odd")

In [ ]:
def even_odd():
  num=int(input("enter a number: "))
  if num%2==0:
    print("even")
  else:
    print("odd")

In [ ]:
even_odd()

enter a number: 23
odd

In [ ]:
even_odd()

enter a number: 12132
even

In [ ]:
#syntax:
#def function_name(parameters):
#  code


#parameters: are variable we can use or passed inside the function
#,arguments: values passed to the parameter

In [ ]:
def even_odd(num):#num is a parameter
  if num%2==0:
    print("even")
  else:
    print("odd")

#
even_odd(12)#12- argument

even

In [ ]:
def addition(num1,num2):
  print(num1+num2)

addition(12,3)

15

In [ ]:
addition(12)

TypeError: addition() missing 1 required positional argument: 'num2'

In [ ]:
addition(12,3,2)

TypeError: addition() takes 2 positional arguments but 3 were given

In [ ]:
#return statments
x=input()

hello

In [ ]:
x

'hello'

In [ ]:
y=addition(12,4)

16

In [ ]:
def addition(num1,num2):
  return num1+num2

In [ ]:
def addition_1():
  num1=int(input("enter the number1: "))
  num2=int(input("enter the number2: "))
  return num1+num2

In [ ]:
y=addition(3,4)

In [ ]:
y

7

In [ ]:
z=addition_1()

enter the number1: 23
enter the number2: 45

In [ ]:
z

68

In [ ]:
def user_details():
  name=input("enter your name: ")
  id=input(f"Hi {name}, enter your id: ")
  return name,id

user_details()

enter your name: max
Hi max, enter your id: 1238

('max', '1238')

In [ ]:
#addition of 2 numbers, than calculate the square the addition
add=addition(12,3)
add**2

225

In [ ]:
add=addition_1()
add**2

enter the number1: 12
enter the number2: 3

225

In [ ]:
def addition(num1,num2):
  return num1+num2

addition(11,4)

15

In [ ]:
#list.pop()#ind=last_index #last index
#list.pop(1)#ind=index

In [ ]:
#key word parameter,
#parameter,keyword parameter
def addition(num1,num2=10):
  return num1+num2

addition(11,4)

15

In [ ]:
addition(30)

40

In [ ]:
addition(10)

20

In [ ]:
def addition(num1=5,num2=10):
  return num1+num2

addition(11,14)

25

In [ ]:
addition()#shift + tab

15

In [ ]:
addition(num2=20)#keyword argument

25

In [ ]:
addition()

In [ ]:
#*args(arguments): this allow you to pass a multuple number of arguments to a functions
def addition(num1,num2):
  return num1+num2

addition(11,4)

#**kwargs

In [ ]:
def addition(*num):
  sum=0#21
  for i in num:
    sum=sum+i#sum+=i
  return sum

In [ ]:
addition(12,3,2,4)

21

In [ ]:
addition(12,3,2,3,4,5,6,6,7,81,23,2)

154

In [ ]:
#nested loops:

In [ ]:
d={1:{'name': "John", 'age': 23},2:{'name': 'Doe', 'age': 20}}

In [ ]:
d.values()

dict_values([{'name': 'John', 'age': 23}, {'name': 'Doe', 'age': 20}])

In [ ]:
for i in d.values():
  #print(i)
  for j in i.values():#['john','value']
    print(j)
#iter1 i={'name': 'John', 'age': 23},i.values()

John
23
Doe
20

In [ ]:
for i in d.values():
  print(i)

{'name': 'John', 'age': 23}
{'name': 'Doe', 'age': 20}

In [ ]:
l=[[1,2,3,4],[[2,3,4],[2,3,2]],[2,35,78]]

In [ ]:
for i in l:
  print(i)

[1, 2, 3, 4]
[[2, 3, 4], [2, 3, 2]]
[2, 35, 78]

In [ ]:
for i in l:
  for num in i:
    print(num)
#outer iter1 :i=[1,2,3,4]
#inner iter1: num=1
#inner iter2: num=2
#inner iter3: num=3
#inner iter4: num=4

#outer iter2:i=[2,3,2]

1
2
3
4
[2, 3, 4]
[2, 3, 2]
2
35
78

In [ ]:
for i in l:
  for num in i:
    if type(num)==list or type(num)==tuple:
      for num3 in num:
        print(num3)
    else:
      print(num)

1
2
3
4
2
3
4
2
3
2
2
35
78

In [ ]:
#question : armstrong number
345,3 digits ,sum of cubes of individual numbers==original Number
3^3+4^3+5^3==345


17,2 digit,1^2+7^2==17
50!=17-armstrong number

153-> 1^3+5^3+3^3

1+125+27==153

In [ ]:
int(input("enter a number: "))

enter a number: 153a

ValueError: invalid literal for int() with base 10: '153a'

In [ ]:
for i in str(153):
  print(i)

1
5
3

In [ ]:
def armstrong_number():
  num=int(input("enter a number: "))
  digit=len(str(num))#153-'153'--3
  sum=0
  for i in str(num):
    sum+=int(i)**digit#sum=sum+int(i)**digit
  if sum==num:
    print(f"{num} is an armstrong number")
  else:
    print(f"{num} is not an armstrong number")

In [ ]:
armstrong_number()

enter a number: 153
153 is an armstrong number

In [ ]:
armstrong_number()

enter a number: 17
17 is not an armstrong number

In [ ]:
#prime number
def prime_number():
  num=int(input("enter a number: "))
  if num>1:#27,2...26
    for i in range(2,num):
      if num%i==0:
        print(f"{num} is not prime")
        break
    else:
      print(f"{num} is prime")

In [ ]:
prime_number()

enter a number: 27
27 is not prime

In [ ]:
prime_number()

enter a number: 17
17 is prime